@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<PageTitle Title="Counter" @ref="PageTitle" />

@code {
    private int currentCount = 0;
    private PageTitle PageTitle;
    private void IncrementCount()
    {
        currentCount++;
        //this.PageTitle.Title = "String.Format("Counter: {0}", currentCount)";
        this.PageTitle.Title = "Counter";
        Console.WriteLine("Incrementing");
    }

    
}
