

<div class="card mt-3">
  <h5 class="card-header">@Title</h5>
  <div class="card-body">
    <h5 class="card-title">@Subtitle</h5>
    <p class="card-text">@Description</p>
    <a href="@Link" class="btn btn-primary">Check it Out</a>
  </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string Link { get; set; }
}